<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overflowing</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In facilis porro cum! Recusandae quaerat delectus dolore beatae possimus cum aliquid quos eligendi omnis repellendus optio quas et quisquam, nobis quis odio necessitatibus praesentium dignissimos esse fuga pariatur. Amet soluta, error aspernatur natus sequi id deserunt facere doloremque ullam eveniet voluptatem.</p></div>
   
    
</body>
</html>