<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 2</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="box"><img src="bob-brewer-KyejdgBwvpA-unsplash.jpg"></div>
        <div class="box box-two"><img src="daniel-carmona-lQfud444elU-unsplash.jpg" alt=""></div>
        <div class="box"><img src="henry-han-9sCGpCmHBFU-unsplash.jpg" alt=""></div>
        <div class="box"><img src="jaromir-kalina-QVi4TUNt4Us-unsplash.jpg" alt=""></div>
        <div class="box"><img src="marek-piwnicki-OwV5CVZ3x1w-unsplash.jpg" alt=""></div>
        <div class="box"><img src="monika-grabkowska-0El5C1azOIU-unsplash.jpg" alt=""></div>
        <div class="box"><img src="polina-kuzovkova-Z7f8azwL_54-unsplash.jpg" alt=""></div>
        <div class="box"><img src="sebastian-ashton-48uMbQE7Tco-unsplash.jpg" alt=""></div>
        <div class="box"><img src="tim-russmann-mAvvnTHHtIc-unsplash.jpg" alt=""></div>
    </div>
    
</body>
</html>